{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": ["react", "flowtype"],
  "extends": [
   "eslint:recommended",
   "plugin:react/recommended",
   "plugin:flowtype/recommended"
  ],
  "rules": {
    "no-unexpected-multiline": 2,
    "no-unused-vars": 0,
    "flowtype/space-before-type-colon": 0
  }
}
